---
import Layout from '../layouts/Layout.astro';

import ProyectosSection from '../components/proyectosSection.astro';
import HeaderSection from '../components/headerSection.astro';
import HabilidadesSection from '../components/habilidadesSection.astro';
---

<Layout title="Pablo Penalva - Desarrollador Web">
  <div
    class="mx-auto max-w-[1200px] bg-black px-6 py-20 drop-shadow-3xl md:w-[80%] md:min-w-[768px] md:rounded-3xl">
    <div
      class="mx-auto mb-10 flex justify-center gap-1 font-title text-xl text-white">
      <a
        href="/"
        class="border-b-2 border-secondary"
        >Español
      </a>
      /
      <a href="/en">English</a>
    </div>

    <HeaderSection />

    <HabilidadesSection />

    <ProyectosSection />
  </div>
</Layout>
<script>
  // const observer = new IntersectionObserver((entries) => {
  //   entries.forEach((entry) => {
  //     if (entry.isIntersecting) {
  //       entry.target.classList.remove('opacity-0');
  //       entry.target.classList.add('opacity-100');
  //       entry.target.classList.add('duration-[2000ms]');
  //     }
  //   });
  // });

  // const h1 = window.document.querySelector('h1')!;
  // const h2 = window.document.querySelector('h2')!;
  // const p = window.document.querySelector('p')!;
  // const h3 = window.document.querySelector('h3')!;
  // const img = window.document.querySelector('img')!;
  // const socialLinks =
  //   window.document.querySelector('#social-links')!;
  // const proyecto =
  //   window.document.querySelectorAll('#proyecto')!;

  // const elements = [
  //   h1,
  //   h2,
  //   h3,
  //   p,
  //   img,
  //   socialLinks,
  //   ...proyecto,
  // ];
  // elements.forEach((e) => {
  //   e.classList.add('opacity-0');
  //   observer.observe(e);
  // });
</script>

<style></style>
