---
import Layout from '../layouts/Layout.astro';

import ProyectosSection from '../components/proyectosSection.astro';
import HeaderSection from '../components/headerSection.astro';
---

<Layout title="Pablo Penalva - Desarrollador Web">
  <div
    class="mx-auto bg-black px-6 py-20 drop-shadow-3xl md:w-[80%] md:rounded-3xl xl:w-[1200px]">
    <HeaderSection />
    <ProyectosSection />
  </div>
</Layout>
<script>
  // const text = window.document.querySelector('#element')!;
  // console.log(text);
  // const arr = [text];

  // const observer = new IntersectionObserver((element) => {
  //   if (element.isIntersecting) {
  //     element.target.classList.add('opacity-100');
  //   }

  //   // entries.forEach((entry) => {
  //   //   if (entry.isIntersecting) {
  //   //     entry.target.classList.remove('-translate-x-56');
  //   //   } else {
  //   //     entry.target.classList.add('-translate-x-56');
  //   //   }
  //   // });
  // });

  // observer.observe(text);
</script>

<style></style>
