---
import Icons from '../components/Icons';
import Layout from '../layouts/Layout.astro';
---

<Layout title="pruebas">
  <div
    class="mx-auto bg-black px-6 py-20 drop-shadow-3xl md:w-[80%] md:rounded-3xl xl:w-[1200px]">
    <Icons />
  </div>
</Layout>
<style></style>
