---
const { lang } = Astro.props;
---

<section class="">
  <h3
    class="mt-16 text-center font-title text-5xl text-secondary xl:text-6xl">
    Portfolio
  </h3>
  <div
    class="mt-10 flex flex-row flex-wrap justify-center gap-5 text-2xl md:gap-10">
    <a
      href={lang === 'en' ? '/en/clientes' : 'clientes'}
      aria-label="link a proyectos de clientes"
      class="mt-2 w-80 rounded-2xl border-2 py-4 text-center font-text text-white duration-300 hover:bg-white hover:text-black"
      >{
        lang === 'en'
          ? 'Client Projects'
          : 'Proyectos para clientes'
      }</a
    >
    <a
      href={lang === 'en' ? '/en/personales' : 'personales'}
      aria-label="link a proyectos personales"
      class="mt-2 w-80 rounded-2xl border-2 py-4 text-center font-text text-white duration-300 hover:bg-white hover:text-black"
      >{
        lang === 'en'
          ? 'Personal Projects'
          : 'Proyectos personales'
      }</a
    >
  </div>
</section>
