---
export interface Props {
  title: string;
  lang: string;
}

const { title, lang } = Astro.props;
import '@fontsource/work-sans';
import '@fontsource/marcellus';
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name="description"
      content="Soluciones digitales para pequeñas empresas y emprendedores"
    />
  </head>
  <body class="mx-auto bg-body md:py-16 xl:py-24">
    <slot />
  </body>
</html>
<style is:global></style>
